@@@DefaultReviewers @"Sam McManus" @"Ahmed Galal" @"Mohamed Abdelrady" @"Mohamed Abou-Haggar" 
@@@InformationSecurity @"Sam McManus" @"Lindsay Zastrow" @Dan "@Anthony Smaldone" "@Kevin Cai"
@@@AssetEssentials @"Tyler Bassett" @"Brandon Miller"
@@@Confirm @"Ivan Oakley" @"John Castle"
@@@Classic @"@Chun Siong Tan"

* @@"DefaultReviewers"
environments/ @@"InformationSecurity"
environments/asset-essentials/ @@"AssetEssentials"
environments/confirm/ @@"Confirm"
environments/classic/ @@"Classic"

AllGroupsCheck(1)