@@@InformationSecurity @"Sam McManus" @"Lindsay Zastrow" @Dan @"Anthony Smaldone" @"Kevin Cai"
@@@AI @@qaish.kanchwala
@@@AssetEssentials @"Tyler Bassett" @"Brandon Miller" @"Anuj Tandon" @"Tejas Desai" @"jayscott999" @"Pradeep Bisht"
@@@Classic @"Chun Siong Tan"
@@@Confirm @"Ivan Oakley" @"John Castle"
@@@EnergyManager @chandra.sharma @"Karim Magdy" @"Hagar Negm"
@@@EventManager @chandra.sharma @"Aditya Raj"
@@@HorizontalCore @"Dan Lydiard"
@@@TheWorxHub @"Dimitrios Baourdos" @"Ken Barnett"
* @@"DefaultReviewers"

environments/ @@"InformationSecurity"
environments/ai/ @@"AI"
environments/asset-essentials/ @@"AssetEssentials"
environments/classic/ @@"Classic"
environments/confirm/ @@"Confirm"
environments/energy-manager/ @@"EnergyManager"
environments/event-manager/ @@"EventManager"
environments/horizontal-core/ @@"HorizontalCore"
environments/theworxhub/ @@"TheWorxHub"
AllGroupsCheck(1)